@media screen and (max-width: 718px) {
    .logo-nav-bar {
        width: 18%;
    }
}

@media screen and (max-width: 400px) {
    .logo-nav-bar {
        width: 15%;
    }
}
@media screen and (max-width: 575px) {
    .logo-nav-bar {
        width: 15%;
    }
}